# This is a code owners file.

# Lines starting with '#' are comments.

# Each line in this file is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

-   @nvharish
